@model MILearningPlan.ViewModels.Admin.AllContinentsViewModel

<form id="addEditForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">Continent Name:</div>
                <div class="col-sm-8">
                    <div class="form-group">
                        @Html.Hidden("Continent.ContinentID")
                        @Html.Hidden("Continent.Archived")
                        @Html.TextBoxFor(x => x.Continent.ContinentName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Continent.ContinentName)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
